In [28]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from numpy import array
from numpy import argmax

In [40]:
data = pd.read_csv('people_and_cars_data_for_analysis.csv')
data.head(2)

,Unnamed: 0,id,age,salary,height,family_size,location,sex,car,doors,...,city_mpg,hwy_mpg,weight,wheel_base,len,width,Drivetrain,car_type,per_of_income_cc,car_spend
0,1,1,18,32354,151,4,urban,male,Toyota Celica GT-S 2dr,2.0,...,24.0,33.0,2500,102,171.0,68.0,fwd,sports_car,69.759535,60-70%
1,2,2,57,32471,181,3,rural,female,Ford Crown Victoria 4dr,4.0,...,17.0,25.0,4057,115,212.0,78.0,rwd,sedan,74.974593,70-80%

In [70]:
data = data[['retail_price', 'age', 'salary', 'height']]
data

    retail_price  age  salary  height
0          22570   18   32354     151
1          24345   57   32471     181
2          33895   21   90452     151
3          35145   40   56945     163
4          76200   17   86111     163
..           ...  ...     ...     ...
94         19110   31   38050     157
95         27905   18   95743     185
96         36640   53   54670     157
97         41475   39   50448     173
98         23495   31   25169     180

[99 rows x 4 columns]

In [71]:
Y = data['retail_price'].values
X = data.drop('retail_price', axis=1).values

Y = Y.reshape(-1, 1)

In [72]:
model = LinearRegression()

model = LinearRegression().fit(X, Y)

In [75]:
#get results

r_sq = model.score(X, Y)

r_sq

0.2890624959052772

In [ ]:
# Perform the intial fitting to get the LinearRegression object - still need a way to get the confidence interval
from sklearn import linear_model
lm = linear_model.LinearRegression()
lm.fit(X, sales)

mae_sum = 0
for sale, x in zip(sales, X):
    prediction = lm.predict(x)
    mae_sum += abs(sale - prediction)
mae = mae_sum / len(sales)

print(mae)